<header>
    <h1>Bem-vindo ao Nosso Restaurante!</h1>
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/cardapio">Cardápio</a></li>
        <li><a href="/reservas">Reservas</a></li>
        <li><a href="/faleconosco">FaleConosco</a></li>
      </ul>
    </nav>
  </header>